/* body {
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda,Verdana, Tahoma, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

#player {
  margin: auto;
}

#description {
  margin-left: 62px;
}

#commentSection {
  width: 64%;
  margin-left: 62px;
}

#app {
  position: absolute;
  top: 160px;
  right: -88px;
  bottom: auto;
  width: 80px;
  height: 600px;
};