/* body {
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda,Verdana, Tahoma, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

#player {
  position: absolute;
}

.bottom {
  display: flex;
  margin-top: 20px;
}

#description {
  display: flex;
}